.balance {
    background: vars.$soft-red;
    @include vars.flexer(center, space-between);
    padding: 0 vars.rem(35);
    height: vars.rem(125);
    color: vars.$very-pale-orange;

    @include vars.media(phablet, max) {
        padding: 0 vars.rem(20);
    }

    .title {
        font-size: vars.rem(15);
    }

    .amount {
        font-size: vars.rem(30);
    }
}
