.chart {
    background: vars.$very-pale-orange;
    padding: vars.rem(35);
    color: vars.$dark-brown;

    @include vars.media(phablet, max) {
        padding: vars.rem(35) vars.rem(20);
    }

    .total {
        @include vars.flexer(center, space-between);
    }

    .comparer {
        text-align: end;
        font-size: vars.rem(13);
    }
    .comparer .percentage {
        font-weight: 700;
    }

    .comparer p {
        color: vars.$medium-brown;
    }

    .result h2 {
        font-size: vars.rem(13);
        color: vars.$medium-brown;
        font-weight: 400;
    }

    .result p {
        font-size: vars.rem(34);
        font-weight: 700;

        @include vars.media(phablet, max) {
            font-size: vars.rem(25);
        }
    }

    .charts {
        width: 100%;
        @include vars.flexer(end, space-between);
        margin-top: vars.rem(65);
    }

    .charts article {
        text-align: center;
    }

    .measure {
        width: vars.rem(50);
        background: vars.$soft-red;
        position: relative;
        cursor: pointer;
        border-radius: vars.rem(8);
        margin-bottom: vars.rem(12);
        transform: scaleY(0);
        transform-origin: bottom;
        animation: rise 0.5s ease-in-out forwards;

        @include vars.media(phablet, max) {
            width: vars.rem(30);
        }
    }

    .charts article:nth-child(3) .measure {
        background: vars.$cyan;
    }

    .hover-val {
        position: absolute;
        // transform: translateY(-10px);
        top: 0;
        left: 50%;
        opacity: 0;
        user-select: none;
        transform: translate(-50%, -120%);
        background: vars.$dark-brown;
        color: vars.$very-pale-orange;
        border-radius: vars.rem(8);
        width: vars.rem(65);
        height: vars.rem(35);
        @include vars.flexer(center, center);
        transition: opacity 0.3s;

        @include vars.media(phablet, max) {
            width: vars.rem(50);
            height: vars.rem(35);
            font-size: vars.rem(14);
        }
    }

    .day {
        color: vars.$medium-brown;
    }

    .measure:hover .hover-val {
        opacity: 1;
    }
}

@keyframes rise {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
