@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
.balance, .chart .total, .chart .charts, .chart .hover-val, .container {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.balance {
  background: #ec775f;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 2.1875rem;
  height: 7.8125rem;
  color: #fffaf5;
}
@media only screen and (max-width: 559px) {
  .balance {
    padding: 0 1.25rem;
  }
}
.balance .title {
  font-size: 0.9375rem;
}
.balance .amount {
  font-size: 1.875rem;
}

.chart {
  background: #fffaf5;
  padding: 2.1875rem;
  color: #382314;
}
@media only screen and (max-width: 559px) {
  .chart {
    padding: 2.1875rem 1.25rem;
  }
}
.chart .total {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.chart .comparer {
  text-align: end;
  font-size: 0.8125rem;
}
.chart .comparer .percentage {
  font-weight: 700;
}
.chart .comparer p {
  color: #93867b;
}
.chart .result h2 {
  font-size: 0.8125rem;
  color: #93867b;
  font-weight: 400;
}
.chart .result p {
  font-size: 2.125rem;
  font-weight: 700;
}
@media only screen and (max-width: 559px) {
  .chart .result p {
    font-size: 1.5625rem;
  }
}
.chart .charts {
  width: 100%;
  align-items: end;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 4.0625rem;
}
.chart .charts article {
  text-align: center;
}
.chart .measure {
  width: 3.125rem;
  background: #ec775f;
  position: relative;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  transform: scaleY(0);
  transform-origin: bottom;
  animation: rise 0.5s ease-in-out forwards;
}
@media only screen and (max-width: 559px) {
  .chart .measure {
    width: 1.875rem;
  }
}
.chart .charts article:nth-child(3) .measure {
  background: #76b5bc;
}
.chart .hover-val {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  user-select: none;
  transform: translate(-50%, -120%);
  background: #382314;
  color: #fffaf5;
  border-radius: 0.5rem;
  width: 4.0625rem;
  height: 2.1875rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: opacity 0.3s;
}
@media only screen and (max-width: 559px) {
  .chart .hover-val {
    width: 3.125rem;
    height: 2.1875rem;
    font-size: 0.875rem;
  }
}
.chart .day {
  color: #93867b;
}
.chart .measure:hover .hover-val {
  opacity: 1;
}

@keyframes rise {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
.container {
  width: 100%;
  height: 100%;
  background: #f8e9dd;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5625rem;
}
.container > * {
  width: clamp(21.5rem, 70%, 33.75rem);
  border-radius: 1.5625rem;
}
.container hr {
  margin: 1.875rem 0;
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
