@use './utils/index' as vars;
@import './components/index';

.container {
    width: 100%;
    height: 100%;
    background: vars.$cream;
    @include vars.flexer(center, center, column);
    gap: vars.rem(25);

    & > * {
        width: clamp(vars.rem(344), 70%, vars.rem(540));
        border-radius: vars.rem(25);
    }

    hr {
        margin: vars.rem(30) 0;
        opacity: 0.7;
    }
}
